{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h1 class="mt-3">Créer son compte</h1>

        {{ include('registration/_registrationForm.html.twig') }}
    </div>
{% endblock %}
