{% extends 'base.html.twig' %}

{% block title %}Ajouter une catégorie{% endblock %}

{% block body %}
    <div class="container">
      {{ include('category/_form.html.twig',{form:form}) }}
    </div>
{% endblock %}



