{% extends 'base.html.twig' %}

{% block title %}Éditer une catégorie{% endblock %}

{% block body %}
    <div class="container mt-3">
        {{ include('category/_form.html.twig',{form:form}) }}
    </div>
{% endblock %}



