{% extends 'base.html.twig' %}

{% block title %}New Room{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Room</h1>
        <a class="btn btn-primary" href="{{ path('room_index') }}">Retour</a>

        {{ include('room/_form.html.twig') }}
    </div>

{% endblock %}
