{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Salles dans la ville de : {{ city }}</h1>

    <ul>
        {% for room in rooms %}
            <li>#{{ room.id }} | {{ room.name }}</li>
        {% endfor %}
    </ul>

{% endblock %}



